<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6IBzVPxpQJr6Ew7MELePLeqfjqAF0JNg</string>
	<key>GCM_SENDER_ID</key>
	<string>391038666866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.humanGenx</string>
	<key>PROJECT_ID</key>
	<string>humangenx</string>
	<key>STORAGE_BUCKET</key>
	<string>humangenx.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391038666866:ios:65b8fdd63d2d5e65941aeb</string>
</dict>
</plist>